---
import BaseLayout from '@layouts/BaseLayout.astro'

console.log(import.meta.env.PUBLIC_ANYBODY)

---

<BaseLayout title="Astro + daisyUI">

  <div tabindex="0" class="collapse w-96 border rounded-box border-base-300 collapse-arrow"> 
  <div class="collapse-title text-xl font-medium">
    I open with focus
  </div> 
  <div class="collapse-content"> 
    <p>Collapse content reveals with focus. If you add a checkbox, you can control it using checkbox instead of focus. Or you can force-open/force-close using 
      <span class="badge badge-outline">collapse-open</span> and 
      <span class="badge badge-outline">collapse-close</span> classes.
    </p>
  </div>
</div> 
<div tabindex="0" class="collapse w-96 border rounded-box border-base-300 collapse-arrow"> 
  <div class="collapse-title text-xl font-medium">
    I open with focus
  </div> 
  <div class="collapse-content"> 
    <p>Collapse content reveals with focus. If you add a checkbox, you can control it using checkbox instead of focus. Or you can force-open/force-close using 
      <span class="badge badge-outline">collapse-open</span> and 
      <span class="badge badge-outline">collapse-close</span> classes.
    </p>
  </div>
</div> 
<div tabindex="0" class="collapse w-96 border rounded-box border-base-300 collapse-arrow"> 
  <div class="collapse-title text-xl font-medium">
    I open with focus
  </div> 
  <div class="collapse-content"> 
    <p>Collapse content reveals with focus. If you add a checkbox, you can control it using checkbox instead of focus. Or you can force-open/force-close using 
      <span class="badge badge-outline">collapse-open</span> and 
      <span class="badge badge-outline">collapse-close</span> classes.
    </p>
  </div>
</div>



  <!-- default theme -->
  <div class="p-10 bg-base-100 text-base-content">
    <button class="btn">buttonX</button>
    <button class="btn btn-primary">button</button>
    <button class="btn btn-secondary">button</button>
    <button class="btn btn-accent">button</button>
  </div>

  <!-- garden theme -->
  <div class="p-10 bg-base-100 text-base-content" data-theme=garden>
    <button class="btn">button</button>
    <button class="btn btn-primary">button</button>
    <button class="btn btn-secondary">button</button>
    <button class="btn btn-accent">button</button>
  </div>

  <!-- forest theme -->
  <div class="p-10 bg-base-100 text-base-content" data-theme=forest>
    <button class="btn">button</button>
    <button class="btn btn-primary">button</button>
    <button class="btn btn-secondary">button</button>
    <button class="btn btn-accent">button</button>
  </div>

</BaseLayout>